MODEL_KEY="llama-2-7b"
MODEL_BASE_PATH="../../models/institute"
FRONTEND_URL="http://localhost:3000"
MLFLOW_DEPARTMENT_SERVICE_URL="http://localhost:9010/api_mlflow"

INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://localhost:8085"