VITE_MODEL_KEY=llama-2-7b

VITE_ENVIRONMENT=staging
VITE_KEYCLOAK_URL=http://host.docker.internal:8085
VITE_FLOWER_CELERY_JOBS_URL=http://host.docker.internal:5555
VITE_FRONTEND_URL=http://host.docker.internal:80
VITE_CLIENT_ID=spa-client
VITE_DEPARTMENT_REALM=Department