VITE_CHAT_SERVICE_URL=http://localhost:8081
VITE_DATA_SERVICE_URL=http://localhost:8080
VITE_MODEL_SERVICE_URL=http://localhost:8090
VITE_MODEL_KEY=llama-2-7b

VITE_INSTITUTE_NAME=ISIN
VITE_AUTH_AUTHORITY=http://localhost:8085/realms
VITE_FRONTEND_URL=http://localhost:3000
VITE_CLIENT_ID=spa-client