INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://localhost:8085"

DATABASE_URL="mysql+aiomysql://<user>:<psw>@<host>:<port>/<db>"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://<user>:<psw>@<host>:<port>/<db>"
FRONTEND_URL="http://localhost:3000"
