INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://localhost:8086"

DATABASE_URL="mysql+aiomysql://root:root@localhost:3306/documents"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://root:root@localhost:3306/documents"
FRONTEND_URL="http://localhost:3000"