MAX_CACHED_MODELS=1
DEVICE_MAP="auto"
FRONTEND_URL="http://localhost:3000"
MODEL_SERVICE_URL="http://localhost:8090"

INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://localhost:8086"

REDIS_URL="redis://localhost:6380"