DATABASE_URL="mysql+aiomysql://root:root@host.docker.internal:33063/federated_learning_jobs"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://root:root@host.docker.internal:33063/federated_learning_jobs"

REALM_NAME="Department"

FLWR_APP_BASE_PATH="/app/flwr/apps"
FEDERATED_LEARNING_DEPLOYMENT_ENVIRONMENT="staging-deployment"