DATABASE_URL="mysql+aiomysql://root:root@localhost:33063/federated_learning_jobs"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://root:root@localhost:33063/federated_learning_jobs"

REALM_NAME="Department"
KEYCLOAK_URL="http://localhost:8085"
FRONTEND_URL="http://localhost:3001"

REDIS_URL="redis://localhost:6379"

FLWR_APP_BASE_PATH="../../federated-learning-service"

IS_FEDERATED_LEARNING_SIMULATION_ENVIRONMENT=True