GITLAB_DOCKER_REGISTRY_USERNAME=deai-docker-registry
GITLAB_DOCKER_REGISTRY_TOKEN=
GITLAB_DOCKER_REGISTRY_HOST=gitlab-edu.supsi.ch:5050
GITLAB_DOCKER_REGISTRY_PATH=/dti-isin/giuliano.gremlich/progetti_master/2025-2026/luca-fanto/decentralised-ai