MODEL_NAME=llama-2-7b
GITLAB_DOCKER_REGISTRY_USERNAME=trustml-docker-registry
GITLAB_DOCKER_REGISTRY_TOKEN=
GITLAB_DOCKER_REGISTRY_HOST=gitlab-core.supsi.ch:5050
GITLAB_DOCKER_REGISTRY_PATH=/dti-isin/massimo.coluzzi/prem/trustml