UV_INDEX_GITLAB_USERNAME=deai-package-registry
UV_INDEX_GITLAB_PASSWORD=

GITLAB_TOKEN=

MODELS_INTERNAL_PATH=PATH_TO/models/department

REALM_NAME=
KEYCLOAK_URL=
KEYCLOAK_GLOBAL_HOSTNAME_URL=http://10.11.13.17:8086
FRONTEND_URL=

INSTITUTES_MYSQL_ROOT_PASSWORD=
INSTITUTES_MYSQL_DATABASE=institutes

FEDERATED_LEARNING_JOBS_MYSQL_ROOT_PASSWORD=
FEDERATED_LEARNING_JOBS_MYSQL_DATABASE=federated_learning_jobs

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=keycloak