DOCKER_IMAGE_TAG=nvidia

KEYCLOAK_INITIAL_CONFIGURATION_PATH=
MODELS_INTERNAL_PATH=

REALM_NAME=
KEYCLOAK_URL=

# If DEPARTMENT services are on the same network of keycloak (same docker compose) set KEYCLOAK_GLOBAL_HOSTNAME_URL to the real ip host (e.g. http://10.11.13.6:8085)
KEYCLOAK_GLOBAL_HOSTNAME_URL=
FRONTEND_URL=

INSTITUTES_MYSQL_ROOT_PASSWORD=
INSTITUTES_MYSQL_DATABASE=institutes

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=keycloak