INFERENCE_SERVICE_URL="http://localhost:8095"

INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://host.docker.internal:8085"

DATABASE_URL="mysql+aiomysql://<user>:<psw>@<host>:<port>/<db>"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://<user>:<psw>@<host>:<port>/<db>"
FRONTEND_URL="http://localhost:3000"
ENVIRONMENT="dev"