INFERENCE_SERVICE_URL="http://localhost:8095"

INSTITUTE_NAME="ISIN"
KEYCLOAK_URL="http://localhost:8086"

DATABASE_URL="mysql+aiomysql://root:root@localhost:33061/chats"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://root:root@localhost:33061/chats"
FRONTEND_URL="http://localhost:3000"

REDIS_URL="redis://localhost:6380"