INFERENCE_SERVICE_URL="http://host.docker.internal:8095"

DATABASE_URL="mysql+aiomysql://root:root@host.docker.internal:33061/chats"
ALEMBIC_SYNC_DATABASE_URL="mysql+pymysql://root:root@host.docker.internal:33061/chats"