#MINIO_ROOT_USER=mlflow
#MINIO_ROOT_PASSWORD=mlflow1234!

#AWS_ACCESS_KEY_ID=MLFlowUser
#AWS_SECRET_ACCESS_KEY=MyFlowPass


KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=keycloak