KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=

KEYCLOAK_POSTGRES_USER=keycloak
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_DB=keycloak

INSTITUTES_MYSQL_ROOT_PASSWORD=
INSTITUTES_MYSQL_DATABASE=institutes

FEDERATED_LEARNING_JOBS_MYSQL_ROOT_PASSWORD=
FEDERATED_LEARNING_JOBS_MYSQL_DATABASE=federated_learning_jobs