MLFLOW_SERVICE_URL="http://localhost:9010"

MODEL_SERVICE_URL="http://localhost:8090"
DATA_SERVICE_URL="http://localhost:8080"
MODEL_KEY="llama-2-7b"
DEVICE_MAP="auto"
IS_SIMULATION_RUNNING_ENVIRONMENT=True