UV_INDEX_GITLAB_USERNAME=deai-package-registry
UV_INDEX_GITLAB_PASSWORD=

GITLAB_TOKEN=

HOST_NGINX_PORT=82
HOST_DATA_SERVICE_PORT=9080
HOST_CHAT_SERVICE_PORT=9081
HOST_MODEL_SERVICE_PORT=9090
HOST_INFERENCE_SERVICE_PORT=9095
HOST_MYSQL_DOCS_PORT=33065
HOST_MYSQL_CHATS_PORT=33066
HOST_SUPERNODE_PORT=9098
HOST_REDIS_PORT=6381

MODELS_INTERNAL_PATH=PATH_TO/models/institute/REALM_NAME

INSTITUTE_NAME=REALM_NAME
KEYCLOAK_URL=
FRONTEND_URL=

SUPERLINK_SERVICE_URL=
MLFLOW_DEPARTMENT_SERVICE_URL=

DOCUMENTS_MYSQL_ROOT_PASSWORD=
DOCUMENTS_MYSQL_DATABASE=documents

CHATS_MYSQL_ROOT_PASSWORD=
CHATS_MYSQL_DATABASE=chats