DOCKER_IMAGE_TAG=staging

MODELS_INTERNAL_PATH=

INSTITUTE_NAME=
KEYCLOAK_URL=
FRONTEND_URL=

SUPERLINK_SERVICE_URL=
MLFLOW_DEPARTMENT_SERVICE_URL=

DOCUMENTS_MYSQL_ROOT_PASSWORD=
DOCUMENTS_MYSQL_DATABASE=documents

CHATS_MYSQL_ROOT_PASSWORD=
CHATS_MYSQL_DATABASE=chats